@media (min-width: 768px) {
  main .first-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .first-content .heading-content {
  padding: 1rem;
}
main .first-content .heading-content h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #152441;
}
main .first-content .heading-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
}
main .first-content .heading-btn {
  display: flex;
  justify-content: start;
  align-items: center;
}
main .first-content .heading-btn button {
  border: none;
  background-color: #f06819;
  padding: 0.7rem 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  width: 170px;
  cursor: pointer;
}
main .first-content .heading-btn button:hover {
  background-color: #ff9b61;
  color: white;
}
main .first-content .heading-btn span {
  padding: 0 2rem;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7b8cad;
  letter-spacing: 0.1rem;
}
main .first-content .heading-img img {
  width: 426px;
  height: 431px;
  margin-left: 1rem;
  margin-top: 3rem;
  border-top-left-radius: 1.3rem;
  border-bottom-left-radius: 1.3rem;
}
main .second-content .second-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .second-content .second-content-img img.img-1 {
  background-color: #f06819;
  width: 230px;
  height: 193px;
  margin-left: -1rem;
  margin-top: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
main .second-content .second-content-img img.img-2 {
  width: 220px;
  height: 193px;
  margin-left: 2rem;
  margin-right: 3.5rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
main .second-content .second-content-info {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
main .second-content .second-content-info h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #152441;
  padding: 1rem;
}
main .second-content .second-content-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
}
main .third-content {
  text-align: center;
  margin: 5.5rem 0;
}
main .third-content img {
  padding: 1.5rem;
  background-color: #f06819;
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
}
main .third-content h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 1.5rem 2rem;
  padding: 0 5rem;
  color: #152441;
}
main .third-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
  padding: 0 1rem;
}
main .third-content .compatible,
main .third-content .bluetooth,
main .third-content .battery,
main .third-content .light {
  margin: 3rem 0;
}
main .third-content .compatible img {
  padding: 1.3rem 1.2rem;
}
main .third-content .bluetooth img {
  padding: 1.1rem 1.4rem;
}
main .third-content .battery img {
  padding: 1.3rem 1.1rem;
}
main .third-content .light img {
  padding: 1.1rem;
}

/*# sourceMappingURL=main.css.map */
