header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 1rem;
}
header button {
  border: none;
  background-color: #e8eff2;
  padding: 0.7rem 0;
  border-radius: 8px;
  color: #162441;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  width: 170px;
  cursor: pointer;
}
header button:hover {
  background-color: #162441;
  color: white;
}

@media screen and (min-width: 1040px) {
  main {
    margin-top: 7rem;
  }
}
@media screen and (min-width: 768px) {
  main .first-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1040px) {
  main .first-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .first-content .heading-content {
  padding: 1rem;
}
main .first-content .heading-content h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #152441;
}
main .first-content .heading-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
}
@media screen and (min-width: 1040px) {
  main .first-content .heading-content p {
    margin: 4rem 0;
  }
}
main .first-content .heading-btn {
  display: flex;
  justify-content: start;
  align-items: center;
}
@media screen and (min-width: 1040px) {
  main .first-content .heading-btn {
    margin: 2rem 0;
  }
}
main .first-content .heading-btn button {
  border: none;
  background-color: #f06819;
  padding: 0.7rem 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  width: 170px;
  cursor: pointer;
}
main .first-content .heading-btn button:hover {
  background-color: #ff9b61;
  color: white;
}
main .first-content .heading-btn span {
  padding: 0 2rem;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7b8cad;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  main .first-content .heading-btn span {
    letter-spacing: 0rem;
  }
}
main .first-content .heading-img {
  display: flex;
}
main .first-content .heading-img .keyboard {
  background-image: url(../assets/mobile/image-keyboard.jpg);
  background-position: center;
  background-size: cover;
  width: 426px;
  height: 431px;
  margin-left: 1rem;
  margin-top: 3rem;
  padding-right: 1rem;
  border-bottom-left-radius: 1.3rem;
  border-top-left-radius: 1.3rem;
}
@media screen and (min-width: 460px) {
  main .first-content .heading-img .keyboard {
    padding-right: 0;
    border-radius: 2rem;
  }
}
@media screen and (min-width: 460px) and (min-width: 768px) {
  main .first-content .heading-img .keyboard {
    margin-right: -6rem;
  }
}
@media screen and (min-width: 460px) and (min-width: 768px) and (min-width: 1068px) {
  main .first-content .heading-img .keyboard {
    background-image: url(../assets/desktop/image-keyboard.jpg);
    background-position: center;
    background-size: cover;
    width: 540px;
    height: 480px;
    margin: 0;
    border-radius: 1rem;
  }
}
main .first-content .heading-img .heading-box {
  background-color: #e8eff2;
  border-radius: 1.3rem;
  width: 255px;
  height: 240px;
  margin-top: 3rem;
  margin-left: 2rem;
  display: none;
}
@media screen and (min-width: 460px) {
  main .first-content .heading-img .heading-box {
    display: block;
    margin-right: -9rem;
  }
}
@media screen and (min-width: 460px) and (min-width: 768px) {
  main .first-content .heading-img .heading-box {
    display: none;
  }
}
@media screen and (min-width: 460px) and (min-width: 768px) and (min-width: 1040px) {
  main .first-content .heading-img .heading-box {
    display: block;
    float: right;
    right: 0;
    margin-right: -17rem;
    margin-top: 0;
    width: 255px;
    height: 240px;
    border-radius: 1rem;
  }
}
@media screen and (min-width: 1040px) {
  main .second-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .second-content .second-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  main .second-content .second-content-img {
    margin: 0 2rem;
  }
}
main .second-content .second-content-img .second-content-box {
  width: 230px;
  height: 193px;
  margin-top: 2rem;
  background-color: #e8eff2;
  border-radius: 1.3rem;
  margin-right: 2rem;
  margin-left: -10rem;
  display: none;
}
@media screen and (min-width: 600px) {
  main .second-content .second-content-img .second-content-box {
    display: block;
    margin-top: 10rem;
  }
}
@media screen and (min-width: 600px) and (min-width: 768px) {
  main .second-content .second-content-img .second-content-box {
    display: none;
  }
}
@media screen and (min-width: 600px) and (min-width: 768px) and (min-width: 1040px) {
  main .second-content .second-content-img .second-content-box {
    display: block;
    margin-top: 17rem;
    margin-left: -19rem;
    width: 255px;
    height: 236px;
  }
}
main .second-content .second-content-img .img-1 {
  background-image: url(../assets/mobile/Bitmap.png);
  background-position: center;
  background-size: cover;
  width: 229px;
  height: 193px;
  margin-left: -5rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
@media screen and (min-width: 460px) {
  main .second-content .second-content-img .img-1 {
    margin-left: 0;
    border-radius: 1rem;
  }
}
@media screen and (min-width: 460px) and (min-width: 600px) {
  main .second-content .second-content-img .img-1 {
    background-image: url(../assets/tablet/Bitmap2.png);
    background-position: center;
    background-size: cover;
    width: 214px;
    height: 320px;
  }
}
@media screen and (min-width: 460px) and (min-width: 600px) and (min-width: 768px) {
  main .second-content .second-content-img .img-1 {
    width: 414px;
    height: 320px;
  }
}
@media screen and (min-width: 460px) and (min-width: 600px) and (min-width: 768px) and (min-width: 1040px) {
  main .second-content .second-content-img .img-1 {
    background-image: url(../assets/desktop/Bitmap3.png);
    background-position: center;
    background-size: cover;
    width: 255px;
    height: 480px;
  }
}
main .second-content .second-content-img .img-2 {
  background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 193px;
  margin-left: 2rem;
  margin-right: 3.5rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
@media screen and (min-width: 600px) {
  main .second-content .second-content-img .img-2 {
    width: 445px;
    height: 320px;
    background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 600px) and (min-width: 768px) {
  main .second-content .second-content-img .img-2 {
    width: 745px;
    height: 320px;
    margin-right: 0;
  }
}
@media screen and (min-width: 600px) and (min-width: 768px) and (min-width: 1040px) {
  main .second-content .second-content-img .img-2 {
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
    background-position: center;
    background-size: cover;
    width: 445px;
    height: 480px;
  }
}
main .second-content .second-content-info {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  main .second-content .second-content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (min-width: 1040px) {
  main .second-content .second-content-info {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
main .second-content .second-content-info h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #152441;
  padding: 1rem;
}
main .second-content .second-content-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
}
@media screen and (min-width: 1040px) {
  main .second-content .second-content-info p {
    padding: 1rem;
  }
}
main .third-content {
  text-align: center;
  margin: 5.5rem 0;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1098px) {
  main .third-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .third-content img {
  padding: 1.5rem;
  background-color: #f06819;
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
}
main .third-content h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 1.5rem 2rem;
  padding: 0 5rem;
  color: #152441;
}
@media screen and (min-width: 768px) {
  main .third-content h3 {
    text-align: left;
    padding: 0;
    margin-left: 1rem;
    width: 200px;
  }
}
main .third-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  main .third-content p {
    padding-left: 0;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
main .third-content .compatible,
main .third-content .bluetooth,
main .third-content .battery,
main .third-content .light {
  margin: 3rem 0;
}
main .third-content .compatible img {
  padding: 1.3rem 1.2rem;
}
main .third-content .bluetooth img {
  padding: 1.1rem 1.4rem;
}
@media screen and (min-width: 768px) {
  main .third-content .bluetooth img {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1040px) {
  main .third-content .bluetooth img {
    margin-top: 1rem;
  }
}
main .third-content .bluetooth h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 1.5rem 2rem;
  padding: 0 5rem;
  color: #152441;
}
@media screen and (min-width: 768px) {
  main .third-content .bluetooth h3 {
    text-align: left;
    padding: 0;
    margin-left: 1rem;
    width: 200px;
  }
}
main .third-content .bluetooth p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b8cad;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  main .third-content .bluetooth p {
    padding-left: 0;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
main .third-content .battery img {
  padding: 1.3rem 1.1rem;
}
main .third-content .light img {
  padding: 1.1rem;
}
@media screen and (min-width: 768px) {
  main .third-content .group-1,
main .third-content .group-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

footer {
  text-align: center;
  margin: 3rem;
}
footer p {
  color: #7b8cad;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
footer p span {
  font-weight: bold;
}

body {
  background-color: white;
  font-family: "Barlow", sans-serif;
  max-width: 1100px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
