@use 'variables';

main {

    .first-content {

        .heading-content {
            padding: 1rem;

            h1 {
                font-weight: 900;
                font-size: 48px;
                line-height: 48px;
                text-transform: uppercase;
                color: variables.$font-color-dark;
            }
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: variables.$font-color-light;
            }
        }

        .heading-btn {
            display: flex;
            justify-content: start;
            align-items: center;

            button {
                border: none;
                background-color: variables.$primary-color;
                padding: 0.7rem 0;
                border-radius: 8px;
                color: variables.$background-color;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
                font-style: normal;
                width: 170px;
                cursor: pointer;

                &:hover {
                    background-color: variables.$primary-color-hover;
                    color: variables.$background-color;
                }
            }

            span {
                padding: 0 2rem;
                font-size: 16px;
                line-height: 26px;
                text-transform: uppercase;
                font-weight: 700;
                color: variables.$font-color-light;
                letter-spacing: 0.1rem;
            }
        }

        .heading-img {

            img { 
                width: 426px;
                height: 431px;
                margin-left: 1rem;
                margin-top: 3rem;
                border-top-left-radius: 1.3rem;
                border-bottom-left-radius: 1.3rem;

            }
        }
        

    }

    .second-content {
        

        .second-content-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img.img-1 {
                width: 230px;
                height: 193px;
                margin-left: -1rem;
                margin-top: 2rem;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }

            img.img-2 {
                width: 220px;
                height: 193px;
                margin-left: 2rem;
                margin-right: 3.5rem;
                margin-top: 2rem;
                border-radius: 1rem;
            }
        }

        .second-content-info {
            text-align: center;
            padding: 1rem;
            margin: 1rem;
    
            h2 {
                font-weight: 900;
                font-size: 32px;
                line-height: 36px;
                text-transform: uppercase;
                color: variables.$font-color-dark;
                padding: 1rem;

            }
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: variables.$font-color-light;
            }
        }
    }

    .third-content {
        text-align: center;
        margin: 5.5rem 0;

        img {
            padding: 1.5rem;
            background-color: variables.$primary-color;
            border-radius: 1rem;
            margin: 1rem;
            margin-bottom: 1.5rem;
        }

        h3 {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            margin: 1.5rem 2rem;
            padding: 0 5rem;
            color: variables.$font-color-dark;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: variables.$font-color-light;
            padding: 0 3rem;
        }

        .compatible,
        .bluetooth,
        .battery,
        .light {
            margin: 6rem 0;
        }
    }
    

}