@use 'variables';

main {
    @media screen and (min-width: 1040px) {
        margin-top: 7rem;
    }

    .first-content {

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 1040px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .heading-content {
            padding: 1rem;

            h1 {
                font-weight: 900;
                font-size: 48px;
                line-height: 48px;
                text-transform: uppercase;
                color: variables.$font-color-dark;
            }
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: variables.$font-color-light;

                @media screen and (min-width: 1040px) {
                    margin: 4rem 0;
                }
            }
        }

        .heading-btn {
            display: flex;
            justify-content: start;
            align-items: center;

            @media screen and (min-width: 1040px) {
                margin: 2rem 0;
            }

            button {
                border: none;
                background-color: variables.$primary-color;
                padding: 0.7rem 0;
                border-radius: 8px;
                color: variables.$background-color;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
                font-style: normal;
                width: 170px;
                cursor: pointer;

                &:hover {
                    background-color: variables.$primary-color-hover;
                    color: variables.$background-color;
                }
            }

            span {
                padding: 0 2rem;
                font-size: 16px;
                line-height: 26px;
                text-transform: uppercase;
                font-weight: 700;
                color: variables.$font-color-light;
                letter-spacing: 0.1rem;

                @media screen and (min-width: 768px) {
                    letter-spacing: 0rem;
                        
                }
            }
        }

        .heading-img {
            display: flex;

            .keyboard { 
                background-image: url(../assets/mobile/image-keyboard.jpg);
                background-position: center;
                background-size: cover;
                width: 426px;
                height: 431px;
                margin-left: 1rem;
                margin-top: 3rem;
                padding-right: 1rem;
                border-bottom-left-radius: 1.3rem;
                border-top-left-radius: 1.3rem;

                @media screen and (min-width: 460px) {
                    padding-right: 0;
                    border-radius: 2rem;

                    @media screen and (min-width: 768px) {
                        margin-right: -6rem;

                        @media screen and (min-width: 1068px) {
                            background-image: url(../assets/desktop/image-keyboard.jpg);
                            background-position: center;
                            background-size: cover;
                            width: 540px;
                            height: 480px;  
                            margin: 0;  
                            border-radius: 1rem;  
                        }
                        
                    }

            
                }

            }

            .heading-box {
                background-color: variables.$neutral-color;
                border-radius: 1.3rem;
                width: 255px;
                height: 240px;
                margin-top: 3rem;
                margin-left: 2rem;
                display: none;

                
                @media screen and (min-width: 460px) {
                    display: block;
                    margin-right: -9rem;

                    @media screen and (min-width: 768px) {
                        display: none;
    
                        @media screen and (min-width: 1040px) {
                            display: block;
                            float: right;
                            right: 0;
                            margin-right: -17rem;
                            margin-top: 0;
                            width: 255px;
                            height: 240px; 
                            border-radius: 1rem; 
                        }
                        
                    }
                }
            }
        }
        

    }

    .second-content {

        @media screen and (min-width: 1040px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        .second-content-img {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 768px) {
                margin: 0 2rem;

            }

            .second-content-box{
                width: 230px;
                height: 193px;
                margin-top: 2rem;
                background-color: variables.$neutral-color;
                border-radius: 1.3rem;
                margin-right: 2rem;
                margin-left: -10rem;
                display: none;

                @media screen and  (min-width:600px){
                    display: block;
                    margin-top: 10rem;

                    @media screen and (min-width: 768px) {
                        display: none;

                        @media screen and (min-width: 1040px) {
                            display: block;
                            margin-top: 17rem;
                            margin-left: -19rem;
                            width: 255px;
                            height: 236px;
                        }
                    }
                }
            }

            .img-1 {
                background-image: url(../assets/mobile/Bitmap.png);
                background-position: center;
                background-size: cover;
                width: 229px;
                height: 193px;
                margin-left: -5rem;
                margin-top: 2rem;
                border-radius: 1rem;

                @media screen and (min-width: 460px) {
                    margin-left: 0;
                    border-radius: 1rem;   
                    
                    @media screen and (min-width: 600px) {
                        background-image: url(../assets/tablet/Bitmap2.png);
                        background-position: center;
                        background-size: cover;
                        width: 214px;
                        height: 320px;

                        @media screen and (min-width: 768px) {
                            width: 414px;
                            height: 320px;

                            @media screen and (min-width: 1040px) {
                                background-image: url(../assets/desktop/Bitmap3.png);
                                background-position: center;
                                background-size: cover;
                                width: 255px;
                                height: 480px;
                            }
                        }
                    }
                }
               
            }

            .img-2 {
                background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
                background-position: center;
                background-size: cover;
                width: 320px;
                height: 193px;
                margin-left: 2rem;
                margin-right: 3.5rem;
                margin-top: 2rem;
                border-radius: 1rem;

                @media screen and (min-width: 600px) {
                    width: 445px;
                    height: 320px;
                    background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
                    background-position: center;
                    background-size: cover;

                    @media screen and (min-width: 768px) {
                        width: 745px;
                        height: 320px;
                        margin-right: 0;

                        @media screen and (min-width: 1040px) {
                            background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
                            background-position: center;
                            background-size: cover;
                            width: 445px;
                            height: 480px;
                        }
                    }

                }
            }
        }

        .second-content-info {
            text-align: center;
            padding: 1rem;
            margin: 1rem;


            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                text-align: left;

                @media screen and (min-width: 1040px) {
                    display: block;
                    justify-content: center;
                    align-items: center;
                }
            }
    
            h2 {
                font-weight: 900;
                font-size: 32px;
                line-height: 36px;
                text-transform: uppercase;
                color: variables.$font-color-dark;
                padding: 1rem;

            }
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: variables.$font-color-light;

                @media screen and (min-width: 1040px) {
                    padding: 1rem;
                }
            }
        }
    }

    .third-content {
        text-align: center;
        margin: 5.5rem 0;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1098px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            padding: 1.5rem;
            background-color: variables.$primary-color;
            border-radius: 1rem;
            margin: 1rem;
            margin-bottom: 1.5rem;
        }

        h3 {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            margin: 1.5rem 2rem;
            padding: 0 5rem;
            color: variables.$font-color-dark;

            @media screen and (min-width: 768px) {
                text-align: left;
                padding: 0;
                margin-left: 1rem;
                width: 200px;

            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: variables.$font-color-light;
            padding: 0 1rem;

            @media screen and (min-width: 768px) {
                padding-left: 0;
                margin-left: 1rem;
                margin-bottom: 0;
                
            }
        }

        .compatible,
        .bluetooth,
        .battery,
        .light {
            margin: 3rem 0;
        }

        .compatible img{
            padding: 1.3rem 1.2rem;
        }

        .bluetooth {

            img{
                padding: 1.1rem 1.4rem;

                @media screen and (min-width: 768px) {
                    margin-top: 0;

                    @media screen and (min-width: 1040px) {
                        margin-top: 1rem;
                    }
                }
            }

            h3 {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                margin: 1.5rem 2rem;
                padding: 0 5rem;
                color: variables.$font-color-dark;

                @media screen and (min-width: 768px) {
                    text-align: left;
                    padding: 0;
                    margin-left: 1rem;
                    width: 200px;

                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: variables.$font-color-light;
                padding: 0 1rem;

                @media screen and (min-width: 768px) {
                    padding-left: 0;
                    margin-left: 1rem;
                    margin-bottom: 0;
                    
                }
            }
        }
        

        .battery img {
            padding: 1.3rem 1.1rem ;
        }

        .light img{
            padding: 1.1rem;

        }

        .group-1,
        .group-2 {

            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                
            }

        }
    }
    

}

