
$primary-color:hsla(22, 88%, 52%, 1);
$primary-color-hover:hsla(22, 100%, 69%, 1);
$secondary-color:hsla(220, 50%, 17%, 1);
$secondary-color-hover: hsla(221, 23%, 58%, 1);
$neutral-color:hsla(198, 28%, 93%, 1);
$background-color:hsla(198, 28%, 93%, 1);
$font-style: 'Barlow', sans-serif;




