
$primary-color:hsla(22, 88%, 52%, 1);
$primary-color-hover:hsla(22, 100%, 69%, 1);
$secondary-color:hsla(220, 50%, 17%, 1);
$secondary-color-hover: hsla(221, 23%, 58%, 1);
$neutral-color:hsla(199, 29%, 93%, 1);
$background-color:hsla(0, 0%, 100%, 1);
$font-color-dark:hsla(220, 51%, 17%, 1);
$font-color-light:hsla(220, 23%, 58%, 1);
$font-style: 'Barlow', sans-serif;




